create table public.ratings (id uuid default gen_random_uuid() primary key, product_id text not null, user_id uuid references auth.users(id) on delete cascade not null, rating smallint not null check (rating >= 1 and rating <= 5), comment text, created_at timestamp with time zone default timezone('utc'::text, now()) not null, updated_at timestamp with time zone, update_type text default 'original' check (update_type in ('original', 'update')), update_comment text, update_date timestamp with time zone);
