@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");
@import url("../styles/tw-preflight.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --primary-50: #f99cb6;
  --primary-100: #f884a4;
  --primary-200: #f76b92;
  --primary-300: #f4396d;
  --primary-400: #f2215b;
  --primary-500: #f10849;
  --primary-600: #d90742;
  --primary-700: #c1063a;
  --primary-800: #a90633;
  --primary-900: #91052c;

  --primary-light: rgba(248, 222, 229, 0.388);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .btn {
    @apply bg-primary-500 text-white px-4 py-2 !important;
    transition: all 0.5s;
  }

  .btn:hover {
    @apply bg-primary-600 !important;
  }
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mantine-Grid-inner {
  margin: 0px !important;
  width: 100% !important;
}
