.header {
  height: rem(60px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.link {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
}

.link:hover {
  background-color: var(--primary-light);
  width: 100%;
}

.icon {
  border: 1px solid #c7c5c5;
  padding: 8px;
  border-radius: 5px;
}
