.wrapper {
  position: relative;
  box-sizing: border-box;
  background-color: var(--mantine-color-gray-1);
}

.inner {
  position: relative;
  padding-top: rem(100px);
  padding-bottom: rem(60px);

  @media (max-width: $mantine-breakpoint-sm) {
    padding-bottom: rem(60px);
    padding-top: rem(40px);
  }
}
